
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e0f2f1; 
    
  }
  
  .logo img {
    width: 100px;
  }
  
  .navBar {
    display: flex;
    gap: 20px;
  }
  
  .navBar a {
    text-decoration: none;
    font-size: 25px;
    color: #00796b; /* Целебный, спокойный цвет для текста */
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navBar a:hover {
    color: #004d40; /* Более насыщенный оттенок при наведении */
  }
  .headeeContact{
  

    display: flex;
    align-items: center;
  }
  .headeeContact h2 {
    color: #004d40;
    font-size: 1.6em;
    margin-right: 15px;
  }
  
  .headeeContact button {
    width: 200px;
    font-size: 15px !important;
    font-weight: 550 !important;
    background-color: #00796b; /* Основной цвет для кнопки */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
  }
  
    .headeeContact button:hover {
      background-color: #004d40; /* Темнее при наведении */
    }
  